$page-width: 1200px;

$theme-white-color:#ffffff;
$theme-color-main: #95e1d3;
$theme-color-primary-accents: #f38181;
$theme-color-secondary-accents: #fce38a;
$border-color: #e5e5e5;

$main-font-stack: "Roboto", Arial, sans-serif;
$secondary-font-stack: "Montserrat", Arial, sans-serif;
$accents-font-stack: 'Kaushan Script', Arial, sans-serif;

$main-font-size: 15px;
$main-font-height: 24px;
$main-font-color: #999;

$dark-font-color:#333;